<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Facebook Group Explorer</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <a href="/stats"> Stats </a>
          </li>
          <li>
            <a href="/search"> Search </a>
          </li>
          <li>
            <a href="/sql"> SQLite Query </a>
          </li>
          <li>
            <a href="/schema"> SQLite Schema </a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- /.navbar .container -->
  </div><!-- /.navbar-inner -->
</div><!-- /navbar -->
