{% extends "search.html" %}

{% block search_bar %}
<div class="row">
  <div class="input-prepend input-append span8">
    <div class="btn-group">
      <button class="btn dropdown-toggle clickable" data-toggle="dropdown">
        Examples
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="example-dropdown">
      </ul>
    </div>
    <input class="input-block-level" id="search-field" type="text"
           placeholder="Type in a single SQLite statement">
    <button class="btn clickable default-button"
            type="submit" id="query">Query</button>
  </div>
</div>
{% endblock %}

{% block additional_tail_script %}
<script src="/static/js/sql.js"></script>
{% endblock %}
