{% extends "base.html" %}

{% block content %}
<h1 align="center"> {{group["name"]}} </h1>

<div class="row">
  <div class="span2"></div>
  <div class="span8">
    <p></p>
    {% set paragraphs = group["description"].lstrip().rstrip().split("\n\n") %}
    {% if paragraphs.__len__() == 1 %}
      <p align="center"><small>{{ paragraphs[0] }}</small></p>
    {% else %}
      {% for paragraph in paragraphs %}
      <p><small>{{ paragraph }}</small></p>
      {% endfor %}
    {% endif %}
  </div>
  <div class="span2"></div>
</div>

<hr>
<div class="row">
  <div class="span12">
    <h2>Posts</h2>
    <canvas id="posts-canvas" height="300px"></canvas>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>Comments</h2>
    <canvas id="comments-canvas" height="300px"></canvas>
  </div>
</div>
<p>
<div class="row">
  {% for kind in ["post", "comment"] %}
  {% set ranking = rankings[kind] %}
  <div class="span6">
    <h2>Top {{ kind }}ers</h2>
    <canvas id="{{ kind }}er-canvas" height="300px"></canvas>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>{{ kind[0].upper() + kind[1:] }}s</th>
        <th>Key</th>
      </tr>
      {% for result in ranking[0] %}
      <tr>
        <td>{{ result["from_name"] }}</td>
        <td>{{ result["count"] }}</td>
        <td>
          <span style="background-color: {{ result['color'] }};">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block tail_script %}
<script src="/static/js/lib/Chart.min.js"></script>
<script>
  var postsChart = {{ posts_data | safe}}
  var commentsChart = {{ comments_data | safe}}
  var posters = {{ rankings["post"][1] | safe}}
  var commenters = {{ rankings["comment"][1] | safe}}
</script>
<script src="/static/js/stats.js"></script>
{% endblock %}
